<html>

<head>
    <title>Очистить историю чата</title>
    {{> meta}}
</head>


<div class="form-panel">
    <div class="form-panel-wrapper">

        <form class="form">

            <span class="form-title">
                Очистить историю чата
            </span>

            {{> inputField }}

            {{> button text="Очистить" class="p-t-50"}}

        </form>
    </div>
</div>

</html>