<html>

<head>
    <title>Удалить чат с пользователем</title>
    {{> meta}}
</head>

<div class="form-panel">
    <div class="form-panel-wrapper">
        <form class="form">

            <span class="form-title">
                Удалить чат с пользователем
            </span>

            {{> inputField }}

            {{> button text="Удалить" class="p-t-50"}}


        </form>
    </div>
</div>

</html>