<html>

<head>
    <title>Ошибка 500</title>
    {{> meta}}
</head>

<form class="form">

    <div class="form-panel">
        <div>
            <span class="error-form-title">
                500
            </span>
            <div class="text-align-center p-t-15">
                <p>Что-то пошло не так</p>
            </div>
            <div class="text-align-center p-t-50">
                <a class="text-primary" href="">Назад к чатам</a>
            </div>
        </div>
    </div>

</form>

</html>