@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
:root {
  --chat-title-color: #252525;
  --chat-badge-primary-color: #3369f3;
  --chat-input-bg-color: #fbfbfb;
  --chat-outgoing-color: #f8f8f8;
  --chat-incoming-color: #e4edfd;
  --chat-btn-more-color: #999999;
}
.chat-title {
  display: block;
  font-family: Inter;
  font-size: 13px;
  color: var(--chat-title-color);
  text-align: left;
}
.chat-message-text {
  font-family: Inter;
  font-size: 12px;
  color: var(--input-field-color);
}
.chat-message-time {
  float: right;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 11px;
}
.chat-avatar-img {
  width: 40px;
}

.chat-active {
  background-color: var(--menu-item-hover-bg-color);
}

.chat-badge {
  font-size: 11px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: white;
  background-color: var(--chat-badge-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.chat-message-container {
  margin-left: 25%;
  width: 75%;
  padding: 0px;
  position: fixed;
  overflow: auto;
  height: 80%;
  top: 0;
}

.chat-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  background-color: var(--btn-bg-color);
  //position: fixed;
  margin-left: 8px;
}
.chat-btn-more {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  float: right;
  border: none;
}
.chat-btn-more-color {
  color: var(--chat-btn-more-color);
  background-color: var(--main-bg-color);
}

.chat-app-title-container {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  padding: 15px;
}
.chat-app-title {
  font-family: Inter;
  font-size: 20px;
  color: var(--form-title-color);
  text-align: center;
  display: inline-block;
  padding-top: 2px;
  padding-left: 4px;
}
.chat-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-search-input {
  width: 90%;
  background-color: var(--chat-input-bg-color);
  border-radius: 5px;
  height: 32px;
  padding: 8px;
  border: 1px solid var(--input-color);
}
.width-100 {
  width: 100%;
}
.width-45 {
  width: 45px;
}
.width-35 {
  width: 35px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: var(--main-bg-color);
  margin: auto;
  padding: 0;
  border: 1px solid var(--chat-input-bg-color);
  border-radius: 5px;
  width: max-content;
  min-width: 30%;
  min-height: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.close-user-list-modal {
  float: right;
  font-size: 13px;
  cursor: pointer;
}
.close {
  position: absolute;
  padding-left: 95%;
  padding-top: 2%;
  font-size: 13px;
  cursor: pointer;
}
.modal-header {
  padding: 8px 16px 8px 16px;
  background-color: var(--main-bg-color);
  font-family: Inter;
  font-size: 15px;
  height: 50px;
  border-bottom: solid 1px var(--chat-input-bg-color);
}
.modal-text {
  color: var(--chat-btn-more-color);
  font-family: Inter;
  font-size: 12px;
}
.modal-body {
  padding: 2px 16px;
  font-family: Inter;
  font-size: 13px;
}

.chat-list-item-avatar {
  grid-area: avatar;
}
.chat-list-item-title {
  grid-area: title;
}
.chat-list-item-time {
  text-align: right;
  grid-area: time;
}
.chat-list-item-message {
  grid-area: message;
}
.chat-list-item-unread {
  text-align: right;
  grid-area: unread;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "avatar title title title title time"
    "avatar message message message message unread";
}
