:root {
	--chat-title-color: #252525;
	--chat-badge-primary-color: #3369F3;
	--chat-input-bg-color: #EFEFEF;
	--chat-outgoing-color: #F8F8F8;
	--chat-incoming-color: #E4EDFD;
	--chat-btn-more-color: #999999;
}
.chat-title {
	display: block;
	font-family: Inter;
	font-size: 13px;
	color: var(--chat-title-color);
	text-align: left;
}
.chat-message-text {
	font-family: Inter;
	font-size: 12px;
	color: var(--input-field-color);
}
.chat-message-time {
	float: right;
	padding-top: 10px;
	padding-bottom: 0;
	font-size: 11px;
}
.chat-avatar-img {
	width: 40px;
}
.chat-badge {
	font-size: 11px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	color: white;
	background-color: var(--chat-badge-primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
}
.chat-message-container {
	margin-left: 25%;
	padding: 8px;
	position: fixed;
	overflow: auto;
	height: 80%;
	top: 0;
}
.chat-message {
	display: block;
	font-family: Inter;
	font-size: 13px;
	color: var(--chat-title-color);
	text-align: left;
	border-radius: 5px;
	max-width: 60%;
	padding: 12px;
	margin: 0px 0px 8px 0px;
}
.chat-message-send-container {
	margin-left: 25%;
	padding: 8px;
	display: block;
	position: fixed;
	bottom: 1px;
	width: 75%;
}
.chat-message-send {
	width: 90%;
	background-color: var(--chat-input-bg-color);
	border-radius: 5px;
	height: 32px;
	padding: 8px;
}
.outgoing {
	float: left;
	background-color: var(--chat-outgoing-color);
}
.incoming {
	float: right;
	background-color: var(--chat-incoming-color);
}
.chat-btn {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	color: white;
	background-color: var(--btn-bg-color);
	position: fixed;
	margin-left: 8px;
}
.chat-btn-more {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: var(--main-bg-color);
	float: right;
	border: none;
}
.chat-btn-more-color {
	color: var(--chat-btn-more-color);
}
.chat-app-title-container {
	padding: 15px;
}
.chat-app-title {
	font-family: Inter;
	font-size: 20px;
	color: var(--form-title-color);
	text-align: center;
	display: inline-block;
	padding-top: 2px;
	padding-left: 4px;
}
.chat-search-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.chat-search-input {
	width: 90%;
	background-color: var(--chat-input-bg-color);
	border-radius: 5px;
	height: 32px;
	padding: 8px;
}
.width-100 {
	width: 100%;
}
.width-45 {
	width: 45px;
}
.width-35 {
	width: 35px;
}
