<html>

<head>
    <title>Изменить аватар</title>
    {{> meta}}
</head>

<div class="form-panel">
    <div class="form-panel-wrapper">
        <form class="form">

            <span class="form-title">
                Загрузите файл
            </span>

            <div class="text-align-center p-t-15">
                <a class="text-primary" href="">
                    Выбрать файл на компьютере
                </a>
            </div>

            {{> button text="Установить" class="p-t-50"}}

        </form>
    </div>
</div>

</html>