---
first_name: "Имя пользователя"
---
<html>

<head>
    <title>Изменить данные</title>
    {{> meta}}
</head>

<main>
    <div class="form-panel">
        <div class="form-panel-wrapper">
            <form class="form">

                <span class="avatar">
                    <a href="/src/layouts/profile/avatarEdit.hbs"><img src="/static/image-plus-outline.svg" alt="Avatar"
                            class="avatar-img"></a>
                </span>

                <div>
                    {{#each profile.fields}}
                    {{>inputField}}
                    {{/each}}
                </div>

                {{> button text="Сохранить" class="p-t-50"}}

            </form>
        </div>
    </div>
</main>

</html>