---
first_name: "Имя пользователя"
---
<html>

<head>
    <title>Изменить пароль</title>
    {{> meta}}
</head>

<div class="form-panel">
    <div class="form-panel-wrapper">
        <form class="form">

            <span class="avatar">
                <img src="/static/image-plus-outline.svg" alt="Avatar" style="width: 60px;">
            </span>

            <div>
                {{#each password.fields}}
                {{>inputField}}
                {{/each}}
            </div>

            {{> button text="Сохранить" class="p-t-50"}}

        </form>
    </div>
</div>

</html>