<div class="input-field-wrapper">
    <input class="input-field" type="{{this.type}}" name="{{this.name}}" required>
    <span class="input-field-focus" data-placeholder="{{this.text}}"></span>
</div>