<div>
  <span class="{{styles.avatar}}" name="avatarSpan">
    <img
      src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}"
      alt="Avatar"
      class="{{styles.avatar-img}}"
      name="avatarImg"
    />

  </span>
</div>
