@import "./pages/ChatListPage/chatList.module.scss";
@import "./components/MessageContainer/messageContainer.module.scss";
//@import "./components/AutocompleteInputField/autocompleteInputField.module.scss";
@import "./components/UsersListItem/userList.module.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Inter;
}

:root {
  --main-bg-color: #efefef;
  --menu-item-hover-bg-color: #e4edfd;
  --form-title-color: #252525;
  --input-color: #adadad;
  --input-field-color: #555555;
  --input-focus-after-color: #999999;
  --btn-bg-color: #3369f3;
  --text-primary-color: #3369f3;
  --text-danger-color: #ff0000;
}

.menu {
  height: 100%;
  background-color: var(--main-bg-color);
  width: 25%;
  position: fixed;
  overflow: auto;
  border-right: 1px solid var(--input-color);
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.menu-list-li {
  font-size: 13px;
}

.menu-item {
  display: block;
  padding: 8px;
  text-decoration: none;
}

.menu-item:hover {
  background-color: var(--menu-item-hover-bg-color);
}

.form {
  width: 100%;
}

.form-title {
  display: block;
  font-family: Inter;
  font-size: 20px;
  color: var(--form-title-color);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
}

.form-panel {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: var(--main-bg-color);
}

.form-panel-wrapper {
  width: 410px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.text-primary {
  font-family: Inter;
  font-size: 13px;
  color: var(--text-primary-color);
}

.text-danger {
  font-family: Inter;
  font-size: 13px;
  color: var(--text-danger-color);
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.error-form-title {
  display: block;
  font-family: Inter;
  font-size: 40px;
  color: var(--form-title-color);
  line-height: 1.2;
  text-align: center;
}

.avatar {
  display: block;
  text-align: center;
  padding-bottom: 45px;
}

.avatar-img {
  width: 60px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-t-115 {
  padding-top: 115p;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-b-0 {
  padding-bottom: 0;
}

.link {
  font-family: Inter;
  font-size: 13px;
  color: var(--text-primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.link-danger {
  color: var(--text-danger-color);
}
