<div class="form-panel-btn {{class}}">
    <div class="form-panel-btn-wrapper">
        <div class="form-panel-bgbtn"></div>
        <button class="form-panel-form-btn" type="submit">{{text}}</button>
    </div>
</div>