<html>

<head>
    <title>Регистрация</title>
    {{> meta}}
</head>


<div class="form-panel">
    <div class="form-panel-wrapper">
        <form class="form">

            <span class="form-title">
                Регистрация
            </span>

            <div>
                {{#each signup.fields}}
                {{>inputField}}
                {{/each}}
            </div>

            {{> button text="Зарегистрироваться" class="p-t-115"}}

            <div class="text-align-center p-t-15">
                <a class="text-primary" href="/src/layouts/login.hbs">
                    Войти
                </a>
            </div>

        </form>
    </div>

</div>

</html>