.message {
  font-family: Inter;
  font-size: 13px;
  color: var(--chat-title-color);
  text-align: left;
  border-radius: 5px;
  max-width: 60%;
  padding: 12px;
  margin: 0px 0px 8px 0px;
  align-self: flex-start;
  background-color: var(--chat-incoming-color);
}

.message-incoming {
  background-color: var(--chat-outgoing-color);
  align-self: flex-end;
}
